<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Course Page</title>
	    <link rel="stylesheet" type="text/css" href="/css/login.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		    <div class="container-fluid">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="/">CSCI 5408 CATEME</a>
		        </div>
		        <ul class="nav navbar-nav navbar-right">
		            <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
		        </ul>
		    </div>
		</nav>
		
		<div class="wrapper">
		    <div class="container mb-3">
		        <h1>Welcome to the Sorting Manager</h1>
		        <small class="text-muted mb-3">Sort your Questions Here</small>
		        <hr class="mt-3 mb-3">
		        <div class="row">
					<div class="col-md-6 text-left">
						<h3 class="display-5 mb-3">Sort Questions</h3>
						<a th:href="@{/questions/sort-cd-asc}" class="btn btn-md btn-primary d-block mb-3"><i class="fas fa-sort-amount-up"></i> Sort By Creation Date ASC</a>
						<a th:href="@{/questions/sort-cd-desc}" class="btn btn-md btn-primary d-block mb-3"><i class="fas fa-sort-amount-down"></i> Sort By Creation Date DESC</a>
						<a th:href="@{/questions/sort-title-asc}" class="btn btn-md btn-primary d-block mb-3"><i class="fas fa-sort-alpha-up"></i> Sort By Title ASC</a>
						<a th:href="@{/questions/sort-title-desc}" class="btn btn-md btn-primary d-block"><i class="fas fa-sort-alpha-up"></i> Sort By Title DESC</a>
						<p th:text="${thisid}"></p>
					</div>
					<div class="col-md-6 text-center">
						<h3 class="display-5 text-center mb-3">Your Questions</h3>
						<div class="card mb-3" th:each="q : ${sortedquestions}">
							<div class="card-header" th:text="${q.getQuestionTitle()}"></div>
						  	<div class="card-body">
						  		<p th:text="${q.getQuestionText()}"></p>
						  		<span class="text-muted d-block">Creation Date:</span>
					  			<small class="text-muted" th:text="${q.getCreationDate()}"></small>
						  	</div>
						  	<div class="card-footer">
						  		<a class="float-right btn btn-md btn-danger text-white" th:href="@{/deleteQuestion/{id}(id = ${q.getId()})}"><i class="fa fa-trash"></i> Delete Question</a>
					  		</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>